@import url("./variables.css");
@import url("./reset.css");
@import url("./default.css");
@import url("./helper.css");
@import url("./preloadAnimation.css");
@import url("./searchBox.css");
@import url("./navbar.css");
@import url("./bottomBar.css");
@import url("./swiperSlider.css");
@import url("./tags.css");
@import url("./footer.css");

/* ================================>>>>>>>>>>>>> START BLOG DETAILS -> MAIN -> HEADER */
.blog-header-banner {
    text-transform: capitalize;
    text-align: center;
}

.blog-header-banner div {
    justify-content: center;
}

.blog-header-banner div span {
    margin: 0 1rem;
}

.blog-header-banner h1 {
    font-weight: 700;
    font-size: 4rem;
    margin: 4rem 0;
}

.blog-details-header img {
    width: 100%;
}

/* ================================>>>>>>>>>>>>> FINISH BLOG DETAILS -> MAIN -> HEADER*/

/* ================================>>>>>>>>>>>>> START BLOG DETAILS -> MAIN -> MAIN OF MAIN OR POSTS*/
.main-of-main-blog {
    width: 100%;
}

.main-explain-blog {
    font-size: 1.7rem;
    line-height: 1.8;
    margin: 3rem 0 1.8rem;
}

.blog-main-post .blog-post-title {
    text-transform: capitalize;
    font-size: 2.2rem;
    font-weight: bold;
}

.blog-main-post .blog-post-poster {
    width: 100%;
    margin: 1.2rem 0;
}

.blog-main-post .blog-post-content {
    line-height: 1.6;
    margin-bottom: 2.8rem;
}

.blog-tags-container {
    flex-wrap: wrap;
    margin: 1rem 0 5rem;
}

.blog-tags-container .blog-tag {
    display: block;
    background-color: var(--tagBackground);
    color: var(--lightGray2);
    text-transform: uppercase;
    padding: 0.6rem 1.2rem;
    margin: 0 1rem 1rem 0;
}

.next-prev-blog-post {
    padding: 1.8rem 0;
    border-top: 1px solid var(--mainColor);
    border-bottom: 1px solid var(--mainColor);
    justify-content: space-between;
    text-transform: capitalize;
    margin-bottom: 6rem;
}

:is(.prev-post, .next-post) {
    align-items: center;
}

:is(.prev-post-title, .next-post-title) {
    margin: 0 1rem;
}

/* ================================>>>>>>>>>>>>> FINISH BLOG DETAILS -> MAIN -> MAIN OF MAIN OR POSTS*/