/* ================================>>>>>>>>>>>>> START TOP VIEWS */
.top-views {
    margin-bottom: 10rem;
}

.top-views-options {
    justify-content: space-between;
}

.top-views-option {
    color: var(--lightGray2);
    font-size: 1.2rem;
    margin-left: 0.5rem;
    font-family: var(--secondary-font);
    text-transform: capitalize;
    transition: color 0.3s;
}

.top-views-option:hover {
    color: var(--mainColor);
    cursor: pointer;
}

.top-veiw-item-container ul .top-view-item {
    width: 100%;
    height: 150px;
    border-radius: 0.5rem;
    position: relative;
    overflow: hidden;
    margin-bottom: 16px;
    transition: 0.5s;
}

.top-view__item-link {
    display: block;
    width: 100%;
    height: 100%;
}

.top-view-item .tp-vw-episode {
    font-size: 1.2rem;
    position: absolute;
    left: -42px;
    top: 6px;
    transform: rotate(-45deg);
    color: var(--mainColor);
    background-color: #070720;
    padding: 0.5rem;
    width: 120px;
    text-align: center;
}

.top-view-item .tp-vw-views {
    font-size: 1.2rem;
    position: absolute;
    right: 0;
    top: 0;
    color: var(--mainColor);
    background-color: rgba(7, 7, 32, 0.8);
    padding: 0.5rem;
    border-radius: 0 0.5rem 0 0.5rem;
}

.top-view-item .tp-vw-title {
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    text-transform: capitalize;
    cursor: pointer;
    font-size: 1.7rem;
    font-weight: 700;
}

.top-veiw-item-container .item--1 {
    background: linear-gradient(to top, #0f2027, #203a434b, #2c536400),
        url('./../media/images/img_16.jpg') no-repeat center / cover;
}

.top-veiw-item-container .item--2 {
    background: linear-gradient(to top, #0f2027, #203a434b, #2c536400),
        url('./../media/images/img_15.jpg') no-repeat center / cover;
}

.top-veiw-item-container .item--3 {
    background: linear-gradient(to top, #0f2027, #203a434b, #2c536400),
        url('./../media/images/img_14.jpg') no-repeat center / cover;
}

.top-veiw-item-container .item--4 {
    background: linear-gradient(to top, #0f2027, #203a434b, #2c536400),
        url('./../media/images/img_13.jpg') no-repeat center / cover;
    transition: 1s;
}

.top-veiw-item-container .item--5 {
    background: linear-gradient(to top, #0f2027, #203a434b, #2c536400),
        url('./../media/images/img_12.jpg') no-repeat center / cover;
}

.top-veiw-item-container .item--6 {
    background: linear-gradient(to top, #0f2027, #203a434b, #2c536400),
        url('./../media/images/img_11.jpg') no-repeat center / cover;
}

.hide-item-js {
    width: 0px !important;
    height: 0px !important;
    margin: 0px !important;
}

/* ================================>>>>>>>>>>>>> FINISH TOP VIEWS */